@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #bbb;
  --primary-bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
  }
}

body {
  color: (var(--foreground));
  background: var(--primary-bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
